/* Reset de estilização da página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilização do body */
body{
    background-image: url(../src/imagens/estudo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 15px;
}
/* Estilização div cabeçalho */
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    background-color: aquamarine;
    border: 2px solid black;
    padding: 5px;
    width: 90vw;
}
/* Estilização logo */
.cabecalho img{
    height: 60px;
}
.cabecalho img:hover{
    height: 70px;
}
/* Estilização link para página principal */
.cabecalho a{
    color: black;
    border: 2px black solid;
    padding: 7px;
    background-color: aqua;
    border-radius: 2px 20px;
}
/* Hover para link da página principal */
.cabecalho a:hover{
    background-color: aquamarine;
}
/* Estilização da primeira div */
.estrutura-basica{
    background-color: aquamarine;
    border: 2px solid black;
    padding: 5px;
    width: 90vw;
    margin-top: 5px;
}
/* Centralização do título da primeira div */
.estrutura-basica h3{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
/* Estilização da segunda div */
.div-tags{
    background-color: aquamarine;
    border: 2px solid black;
    padding: 10px;
    width: 90vw;
    margin-top: 5px;
}
/* Centralização do texto da segunda div */
.div-tags h3{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
/* Por algum motivo a numeração da lista ordenada ta ficando fora da área da div, por isso precisei colocar uma margem a esquerda da lista para a mesma caber dentro da div */
.div-tags ol{
    margin-left: 30px;
}
/* Estilização da Div dos formulários */
.formulario{
    width: 90vw;
    background-color: aquamarine;
    border: 2px solid black;
    padding: 30px;
    margin-top: 5px;
}

.formulario-titulo{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

fieldset {
    background-color: ccc;
    margin-bottom: 20px;
    border: 5px solid blue;
    padding: 10px;
}

legend {
    background-color: blue;
    color: #fff;
    padding: 5px;
}
/* Estilizacao da quarta div */
.outras-tags{
    background-color: aquamarine;
    border: 2px solid black;
    padding: 30px;
    width: 90vw;
    margin-top: 5px;
}
/* Centralização do titulo da quarta div */
.outras-tags h3{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}