/* Função para definir cor do site */
:root{
    --CorSite: rgba(12, 245, 179, 0.7);
}
/* Reset de estilização da página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-body{
    background-image: url(../imagens/estudo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
/* Estilização do body */
body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 15px;
}
/* Estilização div cabeçalho */
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Indie Flower', cursive;

    background-color: var(--CorSite);
    border: 2px solid black;
    padding: 5px;
    width: 90vw;
}
/* Estilização imagem do cabeçalho */
.cabecalho img{
    height: 60px;
}
/* hover da imagem do cabeçalho */
.cabecalho img:hover{
    height: 70px;
}
/* Estilização link para página principal */
.cabecalho a{
    color: black;
    border: 2px black solid;
    padding: 7px;
    background-color: var(--CorSite);
    border-radius: 2px 20px;
}
/* Hover para link da página principal */
.cabecalho a:hover{
    background-color: aquamarine;
}
/* Estilização da segunda div */
.atributos-css{
    font-family: 'Indie Flower', cursive;
    background-color: var(--CorSite);
    border: 2px solid black;
    padding: 5px;
    width: 90vw;  
}
/* Centralização do h3 da segunda div */
.atributos-css h3{
    text-align: center;
}
/* Conserto da ol */
.atributos-css ol{
    margin-left: 20px;
}

.estilo-borda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Estilização da borda solid */
.b-s{
    border: solid 2px;
    width: 150px;
    margin: 40px;
}
/* Estilização da borda dotted */
.b-d{
    border: dotted 2px;
    width: 200px;
    margin: 15px;
}
/* Estilização da borda dashed */
.b-ds{
    border: dashed 2px;
    width: 200px;
    margin: 15px;
}
/* Estilização da borda double */
.b-double{
    border: double;
    width: 160px;
    margin: 15px;
}
/* Estilização da borda groove */
.b-groove{
    border: groove;
    width: 200px;
    margin: 15px;
}
/* Estilização da borda ridge */
.b-ridge{
    border: ridge;
    width: 200px;
    margin: 15px;
}
/* Estilização da borda inset */
.b-inset{
    border: inset;
    width: 220px;
    margin: 15px;
}
/* Estilização da borda outset */
.b-outset{
    border: outset;
    width: 220px;
    margin: 15px;
}
/* Estilização da div das bordas radius */
.div-br{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* Estilização das bordas radius individualmente */
.div-br .br-25{
    margin: 10px;
    border: solid 2px;
    border-width: 5px;
    border-radius: 25px;
    width: 70px;
    padding: 5px;

/* Estilização das bordas radius individualmente */
}
.div-br .br-50{
    margin: 10px;
    border: solid 2px;
    border-width: 5px;
    border-radius: 50px;
    width: 70px;
    padding: 8px;

/* Estilização das bordas radius individualmente */
}
.div-br .br-75{
    margin: 10px;
    border: solid 2px;
    border-width: 5px;
    border-radius: 50%;
    width: 70px;
    padding: 8px;
}
/* Estilização do exemplo de gradiente */
.ex-grad{
    width: 200px;
    height: 100px;
    background: linear-gradient(140deg, green, yellow, blue, yellow, green);
}
/* Estilização das sombras*/
.sombra{
    border: solid 2px black;
    width: 110px;
    background-color: grey;
    box-shadow: 10px 10px 5px black;
    margin: 10px;
}
/* Estilização texto sombra */
.sombra-text{
    text-shadow: 10px 10px 5px black;
    margin: 10px;
}
/* Estilizacao do elemento transicao */
.elemento-transicao{
    background-color: red;
    width: 100px;
    height: 100px;
    border: solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.elemento-transicao:hover{
    width: 200px;
    background-color: blue;
    left: 0;
    border-radius: 100px;
}
/* Estilização footer */
footer{
    width: 90vw;
    background-color: transparent;
    font-size: 20px;
    margin-top: 5px;
}
footer address ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer address ul img{
    width: 40px;
    margin: 10px;
    margin-bottom: none;
    background-color: white;
    transition: all 1s linear;
    box-shadow: 10px 10px 5px black;
}
footer address ul img:hover{
    width: 50px;
}
footer div{
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 1px black;
}