/* Função para definir cor do site */
:root{
    --CorSite: rgba(103, 113, 100, 0.8);
}
/* Estilização do body */
body{
    margin: auto;
    height: 100%;
    max-width: 1024px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-img{
    background-image: url(../imagens/carreira-programacao-expansao-profissional-ti.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cabecalho{
    background-color: var(--CorSite);
    width: 95vw;
    height: 10%;
    border: 2px solid black;
}
/* Estilização do titulo do cabeçalho */
.cabecalho .texto-cabecalho{
    font-size: 3vw;
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 4px 4px #fff  ;
    text-align: center;
}
/* Estilização dos botões das páginas */
.botoes-paginas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    margin-top: 0px;
    padding: 5px 0px 0px 0px;
    list-style: none;
}
/* Estilizacao dos botoes */
.botao-html img,
.botao-css img,
.botao-js img,
.botao-react img,
.botao-git img,
.botao-banco-dados img{
    height: 10vw;
    width: 10vw;
    padding: 0px;
    margin: 0px;
    transition: all 1s linear;
}
.botao-html img:hover,
.botao-css img:hover,
.botao-js img:hover,
.botao-react img:hover,
.botao-git img:hover,
.botao-banco-dados img:hover{
    transform: rotate(360deg);
}
/* Estilizacao corpo do texto */
.corpo{
    width: 90vw;
    height: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.area-img{
    width: 50vw;
    display: flex;
    justify-content: center;
}
.corpo img{
    height: 70vw;
    width: auto;
    margin: auto;
    border-radius: 40px;
    opacity: 0.9;
}
.texto-desc{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.corpo .nome{
    height: 30%;
    display: flex;
    align-items: center;
}
.corpo .descricao{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.corpo h2{
    font-size: 5vw;
    font-family: 'Indie Flower', cursive;
    text-shadow: 5px 5px 10px #000;
    text-align: center;
    color: #fff;
}
.corpo p{
    font-size: auto;
    text-indent: 50px;
    color: #fff;
    padding: 5px;
}
.corpo a{
    text-decoration: inherit;
    color: #fff;
}
/* Estilização footer */
footer{
    width: 90vw;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer ul{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer li{
    margin: 10px;
}
footer img{
    width: 40px;
    margin-bottom: none;
    transition: all 1s linear;
    box-shadow: 10px 10px 5px black;
    border-radius: 20px;
    background-color: #fff;
}
footer img:hover{
    width: 50px;
}
footer div{
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 1px black;
}
footer hr{
    width: 70%;
    display: block;
    margin: auto;
}
/* ################################################################################# */
@media screen and (min-width: 371px) and (max-width: 600px) {
    /* Estilização dos botões das páginas */
    /* Estilizacao dos botoes */
    .botao-html img,
    .botao-css img,
    .botao-js img,
    .botao-react img,
    .botao-git img,
    .botao-banco-dados img{
        height: 8vw;
        width: 8vw;
        padding: 0px;
        margin: 0px;
        transition: all 1s linear;
    }
    /* Estilizacao corpo do texto */
    
    .texto-desc{
        width: 40vw;
    }
    .corpo h2{
        font-size: 6vw;
        text-shadow: 1px 1px 4px white;
    }
    .corpo p{
        font-size: 9px;
        text-indent: 20px;
        padding: 2px;
    }
    /* Estilização footer */
    footer{
        margin-top: 3px;
    }
    footer li{
        margin: 8px;
    }
    footer img{
        width: 30px;
        box-shadow: 5px 5px 3px black;
        border-radius: 20px;
    }
    footer img:hover{
        width: 40px;
    }
    footer div{
        font-size: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
        text-shadow: 2px 2px 1px black;
    }
}
/* ################################################################################# */
@media screen and (min-width: 261px) and (max-width: 370px) {


}
/* ################################################################################# */
@media screen and (min-width: 100px) and (max-width: 260px) {
    body{
        display: none;
    }
}