:root{
    --CorSite: rgba(229, 162, 33, 0.7);
}
/* Reset de estilização da página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilização do body */
body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 15px;
}
.body-img{
    background-image: url(../imagens/estudo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Estilização div cabeçalho */
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    background-color: var(--CorSite);
    border: 2px solid black;
    padding: 5px;
    width: 90vw;
    border-radius: 10px;
    margin-bottom: 5px;
}
/* Estilização logo cabeçalho */
.cabecalho img{
    height: 60px;
}
.cabecalho img:hover{
    height: 70px;
}
/* Estilização link para página principal */
.cabecalho a{
    color: black;
    border: 2px black solid;
    padding: 7px;
    background-color: var(--CorSite);
    border-radius: 2px 20px;
}
/* Hover para link da página principal */
.cabecalho a:hover{
    background-color: var(--CorSite);
}
/* Div curso guanabara */
.curso-guanabara{
    font-family: 'Indie Flower', cursive;
    background-color: var(--CorSite);
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 90vw;
    margin-bottom: 5px;
}
.cabecalho-guanabara{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.cabecalho-guanabara img{
    width: 80px;
}
.curso-guanabara hr{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.curso-guanabara a{
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.curso-guanabara ul{
    margin-left: 20px;
}
.curso-guanabara h4{
    text-align: center;
    margin-top: 10px;
}
.aula4 img{
    width: 370px;
    height: 150px;
    margin: 5px;
}
#nome, #soma{
    color: red;
    text-align: center;
}
.comandosjs img{
    width: 370px;
    height: 150px;
}

/* Estilização da div dos links */
.links{
    font-family: 'Indie Flower', cursive;
    background-color: var(--CorSite);
    border: 2px solid black;
    padding: 5px;
    width: 90vw;
    margin-bottom: 5px;
    border-radius: 10px;
}
/* Centralização do h3 da div link */
.links h3{
    text-align: center;
}
/* Conserto da ol */
.links ol{
    margin-left: 20px;
}
.links a{
    color: blue;
}
.links a:hover{
    font-size: 18px;
    color: red;
}
.aula5 ol{
    margin-left: 50px;
}
.aula5 .tabela-operadores{
    margin: 20px;
}
.aula5 .tabela-operadores th, td{
    text-align: center;
    padding: 5px;
}
.aula5 .tabela-operadores .col1{
    background-color: var(--CorSite);
}