/* Função para definir cor do site */
:root{
    --CorSite: rgba(58, 250, 0, 0.8);
}
/* Estilização do body */
body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-img{
    background-image: url(../imagens/estudo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Estilização do cabeçalho */
.cabecalho{
    background-color: var(--CorSite);
    width: 90vw;
    height: 80px;
    border: 5px solid black;
    padding: 10px;
}
/* Estilização do titulo do cabeçalho */
.cabecalho .texto-cabecalho{
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 4px 4px #e4ce0a;
    text-align: center;
}
/* Estilização dos botões das páginas */
.botoes-paginas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
    list-style: none;
}
/* Estilizacao dos botoes */
.botao-html img,
.botao-css img,
.botao-js img,
.botao-react img,
.botao-git img,
.botao-banco-dados img{
    height: 80px;
    transition: all 1s linear;
}
.botao-html img:hover,
.botao-css img:hover,
.botao-js img:hover,
.botao-react img:hover,
.botao-git img:hover,
.botao-banco-dados img:hover{
    transform: rotate(360deg);
}
/* Estilizacao corpo do texto */
.corpo{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}
.area-img{
    flex: 1;
    width: 500px;
    display: flex;
    justify-content: center;
}
.corpo img{
    height: 600px;
    width: auto;
    margin-right: 30px;
    border-radius: 40px;
}
.texto-desc{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.corpo .nome{
    flex: 1;
    display: flex;
    align-items: center;
    color: black;
    font-size: 50px;
    text-shadow: 5px 5px 10px white;
}
.corpo .descricao{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.corpo h2{
    font-size: 40px;
    text-shadow: 5px 5px 10px white;
    margin-bottom: 20px;
}
.corpo p{
    font-size: 25px;
    text-indent: 50px;
    color: #fff;
}
/* Estilização footer */
footer{
    width: 90vw;
    height: 20px;
    font-size: 20px;
    margin-top: 5px;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer img{
    width: 40px;
    margin: 10px;
    margin-bottom: none;
    background-color: white;
    transition: all 1s linear;
    box-shadow: 10px 10px 5px black;
}
footer img:hover{
    width: 50px;
}
footer div{
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 1px black;
}