/* Função para definir cor do site */
:root{
    --CorSite: rgba(250, 188, 43, 0.8);
}
/* Estilização do body */
body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-img{
    background-image: url(../imagens/estudo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Estilização do cabeçalho */
.cabecalho{
    background-color: var(--CorSite);
    width: 90vw;
    height: 80px;
    border: 5px solid black;
    padding: 10px;
}
/* Estilização do titulo do cabeçalho */
.cabecalho .texto-cabecalho{
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 4px 4px #e4ce0a;
    text-align: center;
}
/* Estilização dos botões das páginas */
.botoes-paginas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
    list-style: none;
}
/* Estilização botão html */
.botao-html img{
    height: 80px;
    transition: all 1s linear;
}
.botao-html img:hover{
    transform: rotate(360deg);
}
/* Estilização botão css */
.botao-css img{
    height: 80px;
}
.botao-css img:hover{
    height: 100px;
}
/* Estilização botão js */
.botao-js img{
    height: 80px;
}
.botao-js img:hover{
    height: 100px;
}
.botao-react img{
    height: 80px;
}
.botao-react img:hover{
    height: 100px;
}
/* Estilização botão github */
.botao-git img{
    height: 80px;
}
.botao-git img:hover{
    height: 100px;
}
/* Estilização botão banco de dados */
.botao-banco-dados img{
    height: 80px;
}
.botao-banco-dados img:hover{
    height: 100px;
}
.tam-site{
    height: 50vh;
    width: 90vw;
}
/* Estilização footer */
footer{
    width: 90vw;
    height: 20px;
    font-size: 20px;
    margin-top: 5px;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer img{
    width: 40px;
    margin: 10px;
    margin-bottom: none;
    background-color: white;
    transition: all 1s linear;
    box-shadow: 10px 10px 5px black;
}
footer img:hover{
    width: 50px;
}
footer div{
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 1px black;
}